<div class="container">
  <div class="row m-5 pl-5">
    <h3>新着通知</h3>
  </div>
  <div class="row">
    <div class="col">
      <% if @notifications.exists? %>
          <% @notifications.each do | notification | %>
            <!--コメントの通知-->
            <% if notification.action == 'comment' %>
              <%= render 'notifications/comment', notification: notification %>
            <% else %>
            　<!--Itemが0個または0位上になった際の通知-->
              <%= render 'notifications/quantity', notification: notification %>
            <% end %>
          <% end %>
          <%= paginate @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
