<div class="container">
  <div class="row m-5 pl-5">
    <h3>社員詳細</h3>
    <div class="mx-auto">
      <div class="row">
        <div class="col-xs-6　m-5 pt-5" >
          <%= attachment_image_tag @user, :image, :fill, 500, 500, format: 'jpeg', fallback: "no-image-icon.jpg" %>
        </div>
        <div class="col-xs-6　m-5 pt-5">
           <p>社員名:<%= @user.name %></p>
           <p>部署:<%= @user.group %></p>
           <p>社員番号:<%= @user.user_code %></p>
        </div>
      </div>
    </div>
  </div>
</div>
