<div class="wrap">
  <h1 class="title">SCS</h1>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-success form-control button1" %>
  <%= link_to "新規社員登録", new_user_registration_path, class: "btn btn-primary form-control button2" %>
</div>