<footer　class="footer">
  <nav class="bg-info">
    <div class='container mt-5 '>
      <div class='row'>
        <div class='mx-auto text-white'>
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </nav>
</footer>